@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Authors>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<h1>These are our Authors</h1>

<ul>
    @foreach (var author in Model.Children<Author>())
    {
        <li>
            <a href="@author.Url">@author.AuthorName</a>
            @if (!string.IsNullOrEmpty(author.TwitterHandle))
            {
                @:(<a href="https://twitter.com/@author.TwitterHandle">@@@author.TwitterHandle</a>)
            }
        </li>
    }
</ul>